@media (max-width: 375px){
    /* HOME  */

    .banner-img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    .imagem-titulo{
        width: 100%;
        height: 90vh;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    
    .imagem-titulo img{
        width: 90%;
        height: 40vh;
        overflow-x: hidden ;
    }

    .degrade{
        height: 30vh;
    }


    /* SOBRE */

    #sobre{
        height: 152vh;
    }

    .bg-sobre {
        width: 100%;
        height: 140vh;
        object-fit: cover;
    }

    .bg-sobre img{
        margin-top: 90px;
        height: 142vh;
    }

    .text-container{
        height: 90vh;
        margin-top: -144.5vh;
        margin-left: -10px;
    }

    .text{
        margin-top: -10px;
    }

    .titulo{
        font-size: 6vh;
    }

    .conteudo{
        font-size: 2vh;
        margin-left: 20px;
    }

    .subtitulo1 {
        margin-top: 40px;
        font-size: 4vh;
        margin-left: 20px;
    }

    .subtitulo2{
        margin-top: 40px;
        font-size: 4vh;
        margin-left: 20px;
    }

    .container-carrossel{
        height: 25vh;
    }

    .bottomCard{
        font-size: 12px;
    }

    .imgCard{
        width: 60px;
        height: 60px;
    }

    .swiper-button-next{
        width: 60px;
        height: 50px;
    }

    .swiper-button-prev{
        width: 60px;
        height: 50px;
    }
    
    /* MISSÃO, VALORES E VISÃO */

    #valores{
        height: 150vh;
    }

    .valores-geral{
        width:100%;
        height: 46.5vh;
        margin-top: 5vh;
        justify-content: center;
        align-items: center;
        display:flex;
    }

    .container-valores{
        width: 100%;
        height: 120vh;
        display: grid;
    }

    .titulo-visao{
        font-size: 4vh;
        position: relative;
        left: 35vw;
        bottom:15vh;
    }

    .titulo-missao{
        font-size: 4vh;
        position: relative;
        right: 10vw;
        bottom: 15vh;
    }

    .titulo-valores{
        font-size: 4vh;
        position: relative;
        right: 6vw;
        bottom: 10vh;
    }

    .texto-visao{
        width: 85vw;
        height: 40vh;
        font-weight: bold;
        font-size: 2.2vh;
        color:#181728;
        text-align: center;
        position: relative;
        top: 10vh; 
        right: 110vw;
    }
    
    .texto-missao{
        width: 50vw;
        height: 60vh;
        font-weight: bold;
        font-size: 2.2vh;
        color:#181728;
        text-align: center;
        position: relative;
        top: 21vh;
        right: 64vw;
    }

    .texto-valores{
        width: 55vw;
        height: 40vh;
        font-weight: bold;
        font-size: 2.2vh;
        color:#181728;
        text-align: center;
        position: relative;
        right: 60vw;
        top: 16vh;
    }

    .icon-missao{
        text-align: center;
        position: relative;
        top: 14vh;
        right: 66vw;
    }
    
    .icon-visao{
        text-align: center;
        position: relative;
        top: 15vh;
        right:25vw;
    }
    
    .icon-valores{
        text-align: center;
        position: relative;
        right: 60vw;
        top: 12vh;
    }
    
    .icon-missao img{
        width: 100px;
        height: 80px;
    }
    
    .icon-visao img{
        width: 110px;
        height: 70px;
    }
    
    .icon-valores img{
        width:110px;
        height:90px;
    }
    /* PROJETOS */

    .bg-projetos-img{
        margin-top: 10%;
    }


    .conteudo-projetos{
        margin-top: 20px;
        font-size: 2.2vh;
        margin-left: 20px;
    }

    .titulo-projetos{
        font-size: 6vh;
    }

    .text-container-projetos{
        margin-top: -144.5vh;
        margin-left: -5vw;
        width: 100%;
        height: 65vh;
        justify-content: center;
        display: flex;
    }

    .card-container{
        width: 65vw;
        height: 50vh;
        margin-top: 20vh;
        margin-left: 15%;
    }

    .card-projetos{
        height: 90%;
    }

    .card-body{
        display: grid;
    }

    .card-title{
        font-size: 25px;
        margin-top: 10vh;
        margin-left: -34vw;
    }

    .card-text{
        font-size: 15px;
        margin-left: -39vw;
    }

    .card-logo{
        width: 35vw;
        height: 16vh;
        margin-top: 10px;
        margin-left: 8vw;
    }

    .logo-app1{
        width: 42vw;
        height: 17vh;
    }

    .btn-saiba-projeto{
        width: 25vw;
        height: 5vh;
        margin-top: 5px;
        font-size: 10px;
        margin-left: -36vw;
        border-radius: 8px;
    }

    /* INFO */

    #info{
        height: 60vh;
    }

    .form-content{
        margin-left: -88.5%;
        width: 78vw;
        height: 40vh;
        margin-top: 100px;
    }

    .titulo-form{
        width:100%;
        font-size: 12px;
    }

    .campo-form{
        width: 80%;
        margin-left: 10%;
    }

    .form-control{
        font-size: 10px;
        margin-left: -25px;
    }

    input.checkbox-info{
        margin-top: 23px;
        width: 10px;
        height: 10px;
    }

    .btn-enviar-info{
        width: 30vw;
        height: 6.5vh;
        margin-left: 55%;
    }

    /* DOAR */

    #doar{
        height: 300vh;
        justify-content: center;
    }

    .bg-doar img{
        margin-top: 10vh;
        height: 300vh;
    }

    .titulo-doar{
        margin-top: 17vh;
        margin-left: 5px;
        font-size: 6vh;
    }

    .conteudo-doar{
        font-size: 2.5vh;
    }

    .card-grid{
        margin-top: 10vh;
        display: grid
    }

    .card-grid2{
        margin-top: -130vh;
        display: grid
    }

    .card-doar{
        width: 50vw;
        height: 28vh;
        margin-top: -30vh;
        margin-left: 25vw;
        margin-bottom: 63vh;
    }

    .btnDoar{
        width: 30vw;
        margin-top: -50px;
        font-size: 10px
    }

    .terraluminous{
        width: 32vw;
        height: 12vh;
    }
    
    .greenpeace{
        width: 35vw;
        height: 8vh;
        margin-top: 5%;
    }
    
    .imaflora{
        width:35vw;
        height:10vh;
        margin-top: 5%;
    }
    
    .ipe{
        width: 30vw;
        height: 12vh;
        margin-top: 5%;
    }
    
    .psa{
        width: 38vw;
        height: 6vh;
        margin-top: 10%;
    }
    
    .sos{
        width: 24vw;
        height: 12vh;
        margin-top: 0;
    }

    #doar2{
        height: 180vh;
    }

    .bg-doar2 img{
        height: 180vh;
    }


}
