@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: ocr;
    src: url(../fonts/OCR\ A\ Extended\ Regular.ttf) format('truetype');
}

@font-face {
    font-family: Jura;
    src: url(../fonts/Jura-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

.banner-espaco{
    height: 3vh;
    margin-top: -6%;
    width:100%;
}

.banner-img{
    width: 100%;
    height: 100vh;
}

/*rodapé*/

#rodape {
    width: 100%;
    height: 51vh;  
    padding:10px 0;
    background-color: #F1F9FB;
    color:#23213A;
    font-family: 'Poppins', sans-serif;
}

.box-principal{
    width: 100%;
    height: 39vh;
    display: flex;

}

.logo-rodape{
    width: 45vw;
    padding-left: 10vh;
    padding-top: 10vh;
}

.link-rodape1{
    width: 40vw;
}
  
.rodape-list{
    padding-top: 8vh;
    list-style: none;
}

.rodape-list li{
    width: 100%;
    padding-top: 3vh;
    letter-spacing: 2px;
    margin-left: 30px;
    font-style: normal;
}

.rodape-list li a{
    margin-right: 20vw;
    color:#23213A;
}

.box-icons{
    width: 100%;
    height: 12.5vh;
    padding-left: 5.3vw;
    color: #23213A;
}

.social i{
    color: #23213A;
    font-size: 30px;
    padding-right: 2vw;
}

.copyright{
    margin-top: 2vh;
    font-size: 20px;
}

@media (max-width: 500px) {

    #rodape{
        height: 80vh;
    }

    .logo-rodape img{
        width:62vw;
        height:13vh;
        margin-top: -5vh;
        margin-left: -10vw;
    }

    .box-principal{
        height: 65vh;
        font-size: 2.6vh;
        color: #23213A;
    }

    .link-rodape1{
        width: 40vw;
        margin-top: 15vh;
        margin-left: -65vw;
        color:#23213A;
    }

    .link-rodape2{
        width: 40vw;
        margin-top: 15vh;
        margin-left: 10vw;
        color:#23213A;
    }

    .box-icons{
        margin-left: 10px;
        font-size: 20px;
    }
    
    .copyright{
        margin-top: 2vh;
        font-size: 15px;
    }

    .social i{
        color: #23213A;
        font-size: 20px;
        padding-right: 2vw;
    }
    
}